body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e4f0fa;
  color: #333;
}

.App {
  text-align: center;
}

section {
  padding: 60px 20px;
}

h1, h2 {
  margin-bottom: 10px;
}

.navbar {
  background-color: #282c34;
  padding: 15px 0;
  color: rgb(244, 62, 62);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: rgb(245, 32, 32);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
